.Btn{
   padding: 10px  20px;
   outline: none;
   border: none;
   cursor: pointer;
   color: #fff;
   border-radius: 5px;
   transition: all .3s ease-in-out;
   background: rgb(43, 61, 99);
   margin-right: 10px;
}
.Btns{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.Prev{
   background: rgb(199, 199, 199);
}
.Prev:disabled{
   background: rgb(199, 199, 199, .5);
   cursor:not-allowed;
}
.Prev:disabled:hover{
   background: rgb(199, 199, 199, .5);;
}
.Next{
   background: rgb(43, 61, 99);
   padding: 10px 40px;
}
.Btn:hover{
   opacity: .8;
}